<!-- <div class="d-flex flex-column align-items-center pb-0 mt-1">
  <p class="font-family-pop header-dialog text-light-black font-15 mt-5 m-0">Delete Amount Tier?</p>
</div>
<h2 mat-dialog-title align="center" class="font-family-pop bold header-dialog text-light-black font-15  ">Delete Amount Tier ?</h2>
<mat-dialog-content align="center" class="d-flex justify-content-center align-items-center px-md-3 pt-3">Are you sure you want to permanently delete the tiers?
</mat-dialog-content>
<mat-dialog-actions align="center" class="mt-5">
  <button mat-button mat-dialog-close>No Thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->

<div class="rounded">
  <h2 mat-dialog-title align="center" class="bold font-17">Delete Amount Tier?</h2>
<mat-dialog-content  align="center">Are you sure you want to permanently delete the tiers?</mat-dialog-content>
<mat-dialog-actions align="center" class="pt-6 flex-column ">
  <button mat-button class="mb-3 mat-btn-delete">Delete</button>
  <button mat-button mat-dialog-close class="mat-btn-cancel">Cancel</button>
</mat-dialog-actions>
</div>
