.mat-card-tier{
    margin-top: 1rem !important;
    margin-left: 3rem !important;
    // margin-right: 1rem !important;
    border-radius: 1rem !important;
  }

  .col-md-12 .material{
    border-radius: 10px !important;
    max-width: 95% !important;
  }

/* Style for mat-card-bottom */
.mat-card-bottom {
  margin-top: 1rem; /* Adjust margin as needed */
  height: 3rem;
  margin-right: 1.5rem;
  border-radius: 1rem !important;

}

/* Style for centering wrapper */
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make the wrapper fill the height of the mat-card */
}

/* Style for plusIcon */
.plusIcon {
  font-size: 24px; /* Adjust icon size as needed */
}


// .mat-card-bottom{
//   margin-right: 2.5rem !important;
//   margin-left: 2.5rem !important;
//   margin-top: 0rem !important;
//   margin-bottom: 0rem !important;
//   text-align: center;
//   /* width: 493px; */
//   height: 1px !important;
// }

/* Style for plusIcon */
.plusIcon {
  font-size: 24px; /* Adjust icon size as needed */
}

  .delete-icon {
    color: red;
  }

  .edit-icon {
    color: blue;
  }

  /* Add curved borders to ngx-datatable */
/deep/ .ngx-datatable {
  border-radius: 10px; /* Adjust the border radius as needed */
}

/* Add margin on the right side of the page */
.container-right-margin {
  margin-right: 20px; /* Adjust the margin as needed */
  border-radius: 1rem;
}

