.col-md-12 .material{
    border-radius: 10px !important;
    max-width: 96% !important;
}
.mat-menu-item{
    color: #19a0db;
}
.threeDots, .edit{
    color: #19a0db;
    font-size: 20px;
    margin-left: 30px;
}
